/*background*/
body {
    background-color: #f8f8f8;
}

/*background*/
/*Header*/
.menu-item a {
    font-size: 19px;
    font-family: "Times New Roman", Serif, sans-serif;
    font-style: italic;
    text-decoration: none;
    color: brown;
    list-style-type: none;

}

.menu-1 {
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-left: -15px;

}

ul li {
    font-size: 19px;
    font-family: "Times New Roman", Serif, sans-serif;
    font-style: italic;
    text-decoration: none;
    color: brown;
    list-style-type: none;
}

.menu-item:hover a {
    color: black;
    font-weight: 700;
}

.menu-item:hover {
    color: maroon;
    font-weight: 700;
}

/*Header*/
/* store Name */
.storeName {
    font-family: "Times New Roman", Serif, sans-serif;
    font-size: 15px;
    color: black;
    font-style: italic;
    font-weight: 400;
}

/* store name */
/*Headlines h2*/
.Headlines {
    font-size: 18px;
    font-weight: 400;
    color: black;
    background-color: #eaeaea;
}

/*Headlines h2*/
/* h1*/
.Cotalog{
    font-style: italic;
}
/*h1*/
/*text*/
.textCatalog {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    width: 34%;
    text-align: left;
}

.textCatalog-long {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 34%;
}

.textContact-1 {
    font-style: italic;
    font-size: 17px;
    font-family: "Times New Roman", Serif, sans-serif;
    font-weight: 600;
    line-height: normal;
    color: black;
}

.textContact-2 {
    font-style: italic;
    font-size: 16px;
    font-family: "Times New Roman", Serif, sans-serif;
    font-weight: 400;
    line-height: normal;
    color: black;
}

span {
    font-weight: 600;
}


/*text*/
/* lists*/
p ~ ul li {
    font-family: "Microsoft JhengHei Light", sans-serif;
    font-size: 14px;
    color: darkblue;
    line-height: 23px;
    list-style-image: url(picture/r.jpg);
}

/* lists*/
/* contact table*/
.inputContact::placeholder {
    color: blueviolet;
}

textarea::placeholder {
    color: blueviolet;
}

.inputContact {
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    height: 20px;
    width: 300px;
}

textarea {
    color: darkblue;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    height: 40px;
    width: 300px;
}

 .inputButton{
    height: 30px;
    width: 70px;
    color: black;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
}

/* contact table*/
/* picture frame */
.frame {
    border: maroon;
    border-style: inset;
    border-width: 4px;
    border-bottom-width: 8px;
}

/* picture frame */
/*Basement*/
.Basement {
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height: normal;
}

/*Basement*/